<?xml version="1.0" encoding="ISO-8859-1"?>

<config>
	<coreScript file="media/scripts/core/core.lua"/>

	<subSystemList>
		<!-- order is important! physics first because of async -->
		<subSystem file="media/physics/config.xml"/>
		<subSystem file="media/ai/config.xml"/>
		<subSystem file="media/audio/config.xml"/>
		<subSystem file="media/graphics/config.xml"/>
		<subSystem file="media/input/config.xml"/>
	</subSystemList>
	
	<control target="Camera"/>
		
	<objectList>
		<object name="Camera">
			<graphics>
				<camera view="PROJ" fov="45"/>
				
				<orientation x="0" y="80" z="120" roll="0" heading="0" pitch="-30"/>
			</graphics>
		</object>
		
		<object name="Floor">
			<graphics>
				<instance mesh="media/graphics/models/basic_objects/floor_large.3DS" material="WhitePlastic"/>
				
				<orientation x="0" y="-3" z="0" roll="0" heading="0" pitch="0"/>
			</graphics>
		</object>
		
		<object name="Teapot">
			<graphics>
				<instance mesh="media/graphics/models/basic_objects/teapot.3DS" material="BluePlastic"/>
				
				<orientation x="0" y="3" z="0" roll="0" heading="0" pitch="0"/>
			</graphics>
		</object>
		
		<object name="GeoSphere">
			<graphics>
				<instance mesh="media/graphics/models/basic_objects/geoSphere.3DS" material="YellowPlastic"/>
				
				<orientation x="-30" y="13" z="-30" roll="0" heading="0" pitch="0"/>
			</graphics>
		</object>
		
		<object name="Knot">
			<graphics>
				<instance mesh="media/graphics/models/basic_objects/knot.3DS" material="GreenPlastic"/>
				
				<orientation x="30" y="15" z="30" roll="0" heading="0" pitch="0"/>
			</graphics>
		</object>
		
		<object name="Light1Spot">
			<graphics>
				<light type="SPOT"/>
				
				<orientation x="0" y="80" z="120" roll="0" heading="0" pitch="-30"/>
				
				<shadowing cast="true" angle="90" resMapX="800" resMapY="800"/> 
			</graphics>
		</object>
		
		<!--
		<object name="Light2Directional">
			<graphics>
				<light type="DIRECTIONAL"/>
				
				<orientation x="0" y="-3" z="0" roll="0" heading="0" pitch="0"/>
				
				<shadowing cast="true" resMapX="2048" resMapY="2048"/> 
			</graphics>
		</object>
		<object name="Light3Point">
			<graphics>
				<light type="POINT"/>
				
				<orientation x="0" y="-3" z="0" roll="0" heading="0" pitch="0"/>
				
				<shadowing cast="true" resMapX="400" resMapY="400"/> 
			</graphics>
		</object>
		-->
	</objectList>
</config>