<?xml version="1.0" encoding="ISO-8859-1"?>

<config>
	<coreScript file="scripts/core/core.lua"/>

	<subSystemList>
		<subSystem file="physics/config.xml"/>
    <subSystem file="graphics/config.xml"/>
    <subSystem file="input/config.xml"/>
    <subSystem file="audio/config.xml"/>
	</subSystemList>
	
	<control target="Camera"/> 
		
	<objectList>
    <object name="Scene">
      <graphics>
        <scene>
          <skyBox path="SkyBoxes/SunSet" format="png"/>
        </scene>
      </graphics>
    </object>
    
    <object name="Camera" class="UserControl">
      <graphics>
				<camera view="PROJ" fov="45"/>

				<orientation x="0" y="35" z="150" roll="0" heading="0" pitch="0"/>
			</graphics>
		</object>

    <object name="Floor">
			<graphics>
				<instance mesh="floor_large.3DS" material="WoodPlanks"/>
				
				<orientation x="0" y="0" z="0" roll="0" heading="0" pitch="0"/>
			</graphics>
		</object>

    <object name="Bunny">
      <graphics>
        <instance mesh="bunny.obj" material="WhitePlastic"/>

        <orientation x="-50" y="0" z="0" roll="0" heading="0" pitch="0"/>
      </graphics>
    </object>
    
		<object name="Teapot">
			<graphics>
				<instance mesh="teapot.3DS" material="Obsidian"/>
				
				<orientation x="0" y="0" z="0" roll="0" heading="0" pitch="180"/>
			</graphics>
		</object>
    
    <object name="Dragon">
      <graphics>
        <instance mesh="dragon.obj" material="Jade"/>

        <orientation x="50" y="0" z="0" roll="0" heading="0" pitch="0"/>
      </graphics>
    </object>

		<object name="SpotLight">
			<graphics>
				<light type="SPOT"/>

				<orientation x="0" y="35" z="150" roll="0" heading="0" pitch="0"/>
				
				<shadowing cast="true" angle="90" resMapX="800" resMapY="800"/>
			</graphics>
		</object>
	</objectList>
</config>