<?xml version="1.0" encoding="ISO-8859-1"?>

<config>
  <coreScript file="scripts/core/core.lua"/>

  <subSystemList>
    <subSystem file="physics/config.xml"/>
    <subSystem file="graphics/config.xml"/>
    <subSystem file="input/config.xml"/>
    <subSystem file="audio/config.xml"/>
  </subSystemList>

  <control target="Camera"/>

  <objectList>
    <object name="Scene">
      <graphics>
        <scene>
          <!-- no skybox: pitch black like doom3 :D -->
        </scene>
      </graphics>
    </object>

    <object name="Camera" class="UserControl">
      <graphics>
        <camera view="PROJ" fov="90"/>

        <orientation x="0" y="50" z="150" roll="0" heading="0" pitch="0"/>
      </graphics>
    </object>

    <object name="SpotLight_1">
      <graphics>
        <light type="SPOT"/>

        <orientation x="-50" y="100" z="150" roll="0" heading="0" pitch="-40"/>

        <shadowing fov="90" resMapX="2048" resMapY="2048"/>
      </graphics>
    </object>

    <object name="SpotLight_2">
      <graphics>
        <light type="SPOT"/>

        <orientation x="50" y="100" z="150" roll="0" heading="0" pitch="-40"/>

        <shadowing fov="90" resMapX="2048" resMapY="2048"/>
      </graphics>
    </object>

    <object name="PointLight">
      <graphics>
        <light type="POINT"/>

        <orientation x="0" y="20" z="0" roll="0" heading="0" pitch="0"/>

        <shadowing resMapX="2048" resMapY="2048"/>
      </graphics>
    </object>
    <!---->
    <object name="Hellknight_POS_Z">
      <graphics>
        <mesh file="doom3/hellknight/hellknight.md5mesh" />

        <material id="HellknightMaterial" />

        <orientation x="0" y="0" z="80" roll="0" heading="0" pitch="180" scale="0.5"/>

        <animation directory="hellknight" extension=".md5anim" active="idle2"/>
      </graphics>
    </object>

    <object name="Teapot_NEG_Z">
      <graphics>
        <mesh file="teapot.3ds" />

        <material id="JadePhong" />

        <orientation x="0" y="10" z="-80" roll="0" heading="0" pitch="180" scale="2"/>

        <animation roll="0" heading="30" pitch="0"/>
      </graphics>
    </object>

    <object name="Imp_POS_X">
      <graphics>
        <mesh file="doom3/imp/imp.md5mesh" />

        <material id="ImpMaterial" />

        <orientation x="80" y="0" z="0" roll="0" heading="0" pitch="270" scale="0.5"/>

        <animation directory="imp" extension=".md5anim" active="idle1"/>
      </graphics>
    </object>

    <object name="Sphere_NEG_X">
      <graphics>
        <mesh file="geoSphere.3ds" />

        <material id="ObsidianPhong" />

        <orientation x="-80" y="30" z="0" roll="0" heading="0" pitch="180" scale="2"/>

        <animation roll="0" heading="30" pitch="0"/>
      </graphics>
    </object>
    -->
    <object name="Knot_POS_Y">
      <graphics>
        <mesh file="knot.3ds" />

        <material id="JadePhong" />

        <orientation x="0" y="80" z="0" roll="0" heading="0" pitch="180" scale="2"/>

        <animation roll="0" heading="30" pitch="0"/>
      </graphics>
    </object>

    <object name="FloorRow1Center">
      <graphics>
        <mesh file="floor_large.3DS" />

        <material id="WoodPlanks" />

        <orientation x="0" y="0" z="-200" roll="0" heading="0" pitch="0" />
      </graphics>
    </object>

    <object name="FloorRow1Left">
      <graphics>
        <mesh file="floor_large.3DS" />

        <material id="WoodPlanks" />

        <orientation x="-200" y="0" z="-200" roll="0" heading="0" pitch="0" />
      </graphics>
    </object>

    <object name="FloorRow1Right">
      <graphics>
        <mesh file="floor_large.3DS" />

        <material id="WoodPlanks" />

        <orientation x="200" y="0" z="-200" roll="0" heading="0" pitch="0" />
      </graphics>
    </object>

    <object name="FloorRow2Center">
      <graphics>
        <mesh file="floor_large.3DS" />

        <material id="WoodPlanks" />

        <orientation x="0" y="0" z="0" roll="0" heading="0" pitch="0" />
      </graphics>
    </object>

    <object name="FloorRow2Left">
      <graphics>
        <mesh file="floor_large.3DS" />

        <material id="WoodPlanks" />

        <orientation x="-200" y="0" z="0" roll="0" heading="0" pitch="0" />
      </graphics>
    </object>

    <object name="FloorRow2Right">
      <graphics>
        <mesh file="floor_large.3DS" />

        <material id="WoodPlanks" />

        <orientation x="200" y="0" z="0" roll="0" heading="0" pitch="0" />
      </graphics>
    </object>

    <object name="FloorRow3Center">
      <graphics>
        <mesh file="floor_large.3DS" />

        <material id="WoodPlanks" />

        <orientation x="0" y="0" z="200" roll="0" heading="0" pitch="0" />
      </graphics>
    </object>

    <object name="FloorRow3Left">
      <graphics>
        <mesh file="floor_large.3DS" />

        <material id="WoodPlanks" />

        <orientation x="-200" y="0" z="200" roll="0" heading="0" pitch="0" />
      </graphics>
    </object>

    <object name="FloorRow3Right">
      <graphics>
        <mesh file="floor_large.3DS" />

        <material id="WoodPlanks" />

        <orientation x="200" y="0" z="200" roll="0" heading="0" pitch="0" />
      </graphics>
    </object>

  </objectList>
</config>