<?xml version="1.0" encoding="iso-8859-1"?>

<config>
  <coreScript file="scripts/core/core.lua"/>

  <subSystemList>
    <subSystem file="physics/config.xml"/>
    <subSystem file="graphics/config.xml"/>
    <subSystem file="input/config.xml"/>
    <subSystem file="audio/config.xml"/>
  </subSystemList>

  <control target="Camera"/>

  <objectList>
    <object name="Scene">
      <graphics>
        <scene>
        </scene>
      </graphics>
    </object>

    <object name="Camera" class="UserControl">
      <graphics>
        <camera view="PROJ" fov="90"/>

        <orientation x="0" y="50" z="150" roll="0" heading="0" pitch="0"/>
      </graphics>
    </object>

    <object name="DirectionalLight">
      <graphics>
        <light type="DIRECTIONAL">
          <color r="1.0" g="1.0" b="1.0" />

          <specular shininess="100.0" strength="1.5"  />

          <!-- no attenuation for directional lights -->

          <shadowing fov="90" resMapX="2048" resMapY="2048"/>
        </light>

        <orientation x="-20" y="100" z="100" roll="0" heading="0" pitch="-40"/>
      </graphics>
    </object>

    <object name="Dragon">
      <graphics>
        <!--<mesh file="dragon.obj" />-->
      <mesh file="teapot.3ds" />

        <material id="JadePhongTranslucent" />

        <orientation x="0" y="0" z="0" roll="0" heading="0" pitch="180" scale="1"/>

        <animation roll="0" heading="0" pitch="0"/>
      </graphics>
    </object>

  </objectList>
</config>