<?xml version="1.0" encoding="ISO-8859-1"?>

<config>
	<coreScript file="scripts/core/core.lua"/>

	<subSystemList>
		<subSystem file="physics/config.xml"/>
    <subSystem file="graphics/config.xml"/>
    <subSystem file="input/config.xml"/>
    <subSystem file="audio/config.xml"/>
	</subSystemList>
	
	<control target="Camera"/> 
		
	<objectList>
    <object name="Scene">
      <graphics>
        <scene>
          <skyBox path="SkyBoxes/Heaven" format="png"/>
        </scene>
      </graphics>
    </object>
    
    <object name="Camera" class="UserControl">
      <graphics>
				<camera view="PROJ" fov="90"/>

				<orientation x="0" y="50" z="-250" roll="180" heading="180" pitch="180"/>
			</graphics>
		</object>

    <object name="SpotLight">
      <graphics>
        <light type="SPOT"/>

        <orientation x="0" y="25" z="70" roll="0" heading="0" pitch="-10"/>

        <shadowing fov="90" resMapX="2048" resMapY="2048"/>
      </graphics>
    </object>
    
    <object name="ChurchWindow">
      <graphics>
        <instance mesh="floor_large.3DS" material="TransparentGlass"/>

        <orientation x="0" y="100" z="-100" roll="0" heading="0" pitch="90"/>
      </graphics>
    </object>

    <object name="Teapot">
      <graphics>
        <instance mesh="teapot.3ds" material="JadePhong"/>

        <orientation x="0" y="50" z="-180" roll="0" heading="0" pitch="180" scale="2"/>

        <animation roll="0" heading="30" pitch="0"/>
      </graphics>
    </object>
    
    <object name="Floor">
			<graphics>
				<instance mesh="floor_large.3DS" material="WoodPlanks"/>
				
				<orientation x="0" y="0" z="0" roll="0" heading="0" pitch="0" />
			</graphics>
		</object>

    <!--
    <object name="Teapot">
			<graphics>
				<instance mesh="teapot.3ds" material="JadePhong"/>
				
				<orientation x="0" y="0" z="10" roll="0" heading="0" pitch="180"/>

        <animation roll="0" heading="30" pitch="0"/>
			</graphics>
    </object>

    <object name="Bunny">
      <graphics>
        <instance mesh="bunny.obj" material="WhiteLambert"/>

        <orientation x="-50" y="0" z="0" roll="0" heading="0" pitch="0" scale="3"/>

        <animation roll="0" heading="10" pitch="0"/>
      </graphics>
    </object>
    
    <object name="Dragon">
      <graphics>
        <instance mesh="dragon.obj" material="JadePhong"/>

        <orientation x="50" y="0" z="0" roll="0" heading="0" pitch="0" scale="3"/>

        <animation roll="0" heading="20" pitch="0"/>
      </graphics>
    </object>
-->
	</objectList>
</config>